---
---
<header class="header">

	<button class="menu-bt" title="Menu"><i></i></button>

	<figure>
		<img class="logo" src="/ippm-static/img/logo.svg" alt="Ingty" />
	</figure>

	<p>
		<em>Portal de Projetos</em>
		<small>iPPM for SP HOM</small>
	</p>

	<div class="top-right">
		<div class="global-buttons">
			<button class="notifications-bt" title="Notificações"><i></i></button>
			<a class="help-bt" href="#" title="Ajuda"><i></i></a>
			<button class="user-bt" title="Ulisses Gomes"><dfn>UG</dfn><i></i></button>
		</div>

		<div class="project-buttons">
			<button class="assistant-bt" title="Assistente de Planejamento"><i></i></button>
			<button class="comment-bt" title="Inserir Comentários"><i></i></button>
			<button class="reload-bt" title="Recarregar Cockpit"><i></i></button>
			<button class="print-bt" title="Impressão da Posição Atual"><i></i></button>
		</div>

		<div class="dropdown-account">
			<header>
				<i></i>
				<dl>
					<dt>José da Silva</dt>
					<dd>meuemail@gmail.com</dd>
				</dl>
			</header>
			<a href="#" title="Minha conta"><i></i>Minha conta</a>
			<a href="#" title="Banco de conhecimento"><i></i>Banco de conhecimento</a>
			<a href="#" title="Configurações iPPM"><i></i>Configurações iPPM</a>
			<a href="#" title="Sair"><i></i>Sair</a>
		</div>
	</div>
</header>